{% extends "accounts/base_accounts.html" %}
{% load static %}

{% block title %}
    New Payment
{% endblock %}

{% block toolbar_title %}
    <i class="fas fa-plus"></i>
{% endblock %}

{% block main_content %}
    <form action="" method="post" class="form py-2 col-lg-4 offset-lg-4 col-md-6 offset-md-3" style="font-size: 1.15rem;">
    <h5 class="my-2">New Payment</h5>
        {% csrf_token %}
        <table class="my-3 ml-4">
        {{ payment_form.as_table }}
        </table>
        <button type="submit" class="btn btn-success btn-md col-lg-4 offset-lg-4 col-md-5 offset-md-3">
            Submit
        </button>
    </form>
{% endblock %}