<div class="card" style="width: 18rem;">
  <img src="../../../media/{{ movie.poster }}" class="card-img-top" alt="{{ movie.name }}">
  <div class="card-body">
    <h5 class="card-title">{{movie.name}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ movie.director }}</li>
    <li class="list-group-item">{{ movie.length }}</li>
  </ul>
  <div class="card-body">
      <a href="{% url "ticketing:movie_details" movie_id=movie.id %}">see more</a>
  </div>
</div>