{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_headers %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static "ticketing/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "ticketing/css/font-awesome.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "ticketing/css/main.css" %}">
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/scrollreveal"></script>
    {% block extra_css %}{% endblock %}
</head>
<body>
<div class="container" id="container">

    {% block toolbar %}
    <div class="row align-items-center" id="toolbar">
        <div class="col-6">
            <h4>
                {% block toolbar_title %}{% endblock %}
            </h4>
        </div>
        <div class="col-6 text-right">
            {% block toolbar_buttons %}
                <a class="btn btn-light py-1 px-2" href="{% url "ticketing:movie_list" %}">
                    <i class="fas fa-film"></i>
                    Movies
                </a>
                <a class="btn btn-light py-1 px-2" href="{% url "ticketing:cinema_list" %}">
                    <i class="fas fa-building"></i>
                    Cinemas
                </a>
                <a class="btn btn-success py-1 px-2" href="{% url "ticketing:showtime_list" %}">
                    <i class="fas fa-ticket-alt"></i>
                    Buying Tickets
                </a>

                {% block user_button %}
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle py-1 px-2" id="user-button" href="#"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right text-left" aria-labelledby="user-button" dir="ltr">
                            <span class="dropdown-item-text">
                                <i class="fas fa-coins"></i>
                                Balance
                                {{ user.profile.balance }}
                                T
                            </span>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url "accounts:profile_details" %}">
                                <i class="far fa-address-card"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="{% url "ticketing:ticket_list" %}">
                                <i class="fas fa-ticket-alt"></i>
                                My Tickets
                            </a>
                            <a class="dropdown-item" href="{% url "accounts:payment_list" %}">
                                <i class="fas fa-receipt"></i>
                                MyPayments
                            </a>
                            <a class="dropdown-item" href="{% url "accounts:logout" %}">
                                <i class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </div>
                    </div>
                {% else %}
                    <a class="btn btn-primary py-1 px-2" href="{% url "accounts:login" %}">
                        <i class="fas fa-sign-in-alt"></i>
                        Login
                    </a>
                    <a class="btn btn-primary py-1 px-2" href="{% url "accounts:signup" %}">
                        <i class="fas fa-arrow-circle-down"></i>
                        Signup
                    </a>
                {% endif %}
            {% endblock %}

            {% endblock %}
        </div>
    </div>
    {% endblock %}

    <div class="row align-items-center" id="header">
        <div class="col text-center" style="margin-bottom: 100px">
            <h1>
                <a href={% url 'home' %} id="home_link">Cinema tickets sale system</a>
            </h1>
        </div>
    </div>


    <div id="main_content">{% block main_content %}{% endblock %}</div>

    <div class="row align-content-center" id="footer">
        <div class="col text-center">
            <span>
                follow us on
                <a class="social-media-icon" href="https://facebook.com/#">
                    <i class="fab fa-facebook"></i>
                </a>
                <a class="social-media-icon" href="https://twitter.com/#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="social-media-icon" href="https://instagram.com/#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="social-media-icon" href="https://telegram.org/#">
                    <i class="fab fa-telegram-plane"></i>
                </a>
            </span>
        </div>
    </div>
</div>
<script src="{% static "ticketing/js/jquery-3.4.0.min.js" %}"></script>
<script src="{% static "ticketing/js/bootstrap.bundle.js" %}"></script>
<script src="{% static "ticketing/js/font-awesome.js" %}"></script>
<script src="{% static "ticketing/js/main.js" %}"></script>
<!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 80,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>

{% block extra_js %}{% endblock %}
</body>
</html>