{% extends "ticketing/base_page.html" %}
{% load static %}

{% block title %}
    List Of Cinemas
{% endblock %}


{% block main_content %}
    <div class="row">
        <div class="col py-3 col-md-8 offset-md-2">
        <h4>List of Cinemas</h4>
            {% if cinemas %}
                <ul class="item-list">
                    {% for cinema in cinemas %}
                        <li>
                            <a href="{% url "ticketing:cinema_details" cinema_id=cinema.id %}">
                                <i class="fas fa-building"></i>
                                {{ cinema.name }}
                                {% if cinema.city %}
                                    <small class="text-muted">
                                        ({{ cinema.city }})
                                    </small>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-danger">
                    Unavailable
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}