{% extends "ticketing/base_page.html" %}
{% load static %}

{% block title %}{{ movie.name }}{% endblock %}

{% block toolbar_title %}
    <i class="fas fa-film"></i>
{% endblock %}

{% block toolbar_buttons %}
    <a class="btn btn-warning py-1 px-2" href="{% url "ticketing:movie_list" %}">
        <i class="fas fa-list"></i>
        Movies
    </a>
{% endblock %}

{% block main_content %}
    <div class="row py-3">
        <div class="col col-md-6 offset-md-3 text-center">
            <img class="item-image" src="{{ movie.poster.url }}" alt="{{ movie.name }}">
        </div>
    </div>
    <div class="row py-5" style="font-size:1rem;">
        <div class="col-10 item-details col-md-10 offset-md-1">
            <h5>{{ movie.name }}</h5>
            <div class="row px-3">
                <div class="col-2">
                    <small class="text-muted">
                        Director:
                    </small>
                </div>
                <div class="col-10">
                    {{ movie.director }}
                </div>
                <div class="w-100 my-1"></div>
                <div class="col-2">
                    <small class="text-muted">
                        Year:
                    </small>
                </div>
                <div class="col-10">
                    {{ movie.year }}
                </div>
                <div class="w-100 my-1"></div>
                <div class="col-2">
                    <small class="text-muted">
                        Length:
                    </small>
                </div>
                <div class="col-10">
                    {{ movie.length }}
                    min
                </div>
                <div class="w-100 my-1"></div>
                <div class="col-2">
                    <small class="text-muted">
                        Description:
                    </small>
                </div>
                <div class="col-10 item-text-box">
                    {{ movie.description }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        ScrollReveal().reveal('.row', {
            delay: 2000,
            useDelay: 'onload',
            reset: true,
            });
    </script>
{% endblock %}