{% extends "ticketing/base_page.html" %}
{% load static %}

{% block title %}
    List of Movies
{% endblock %}


{% block main_content %}
    <div class="row">
        <div class="col py-3 col-md-8 offset-md-2">
        <h4>List of Movies</h4>
            {% if movies %}
                <ul class="item-list">
                    {% for movie in movies %}
                        <li>
                            <a href="{% url "ticketing:movie_details" movie_id=movie.id %}">
                                <i class="fas fa-film"></i>
                                {{ movie.name }}
                                <small class="text-muted">
                                    ({{ movie.director }})
                                </small>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-danger">
                    Unavailable
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}