{% extends "ticketing/base_page.html" %}
{% load static %}

{% block title %}
    ShowTime
{% endblock %}


{% block main_content %}
    <div class="row">
        <div class="col py-3 col-md-8 offset-md-2">
        <h4>ShowTime List</h4>
            <div class="row">
                <div class="col my-0 mx-4 py-1 px-3 search-bar">
                    <form action="" method="get" class="form-row px-2" style="font-size:1.25em; justify-content: space-between">
                        {% include "ticketing/_form_field.html" with field=search_form.movie_name %}
                        {% include "ticketing/_form_field.html" with field=search_form.cinema %}

                        {% include "ticketing/_form_field.html" with field=search_form.movie_length_min label_size=2 input_size=2 %}
                        {% include "ticketing/_form_field.html" with field=search_form.movie_length_max label_size=2 input_size=3 %}
                        <div class="col-4">
                            {{ search_form.sale_is_open }}
                            {{ search_form.sale_is_open.label }}
                        </div>
                        {% include "ticketing/_form_field.html" with field=search_form.price_level %}
                        <button type="submit" class="btn btn-primary btn-sm">
                            Search
                        </button>
                    </form>
                </div>
            </div>
            {% if showtimes %}
                <div class="row px-1">
                    <div class="col">
                        <div class="alert alert-info mt-2 mb-0 py-1 px-3">
                            {{ showtimes.count }}
                            found!
                        </div>
                    </div>
                </div>
{#                 gap: 10px 20px#}
                <div class="row col-15 px-2 py-4" id="showtime_list" style="font-size: 1.5em; row-gap:3vh; column-gap: 1vw">

                    {% for showtime in showtimes %}
{#                        class="col-4 px-2 py-4 "     style="flex: 1 1 0px;"#}
                        <div style="flex-grow: 1;">
                            <a href="{% url "ticketing:showtime_details" showtime_id=showtime.id %}"
                               style=" width: 21vw; min-width:12vw; min-height:14vh; max-height:20vh "
                               class="showtime-box btn
                                {% if showtime.status != showtime.SALE_OPEN %}
                                    disabled btn-outline-secondary
                                {% else %}
                                    btn-outline-dark
                                {% endif %}">
                                <span>{{ showtime.movie.name }}</span>
                                <br/>
                                <span>{{ showtime.cinema.name }}</span>
                                <br/>
                                <span>
                                    {{ showtime.start_time|date:"l n/j - H:i" }}
                                </span>

                                <br/>
                                <span class="showtime-status badge
                                    {% if showtime.status == showtime.SALE_NOT_STARTED %}
                                        badge-warning
                                    {% elif showtime.status == showtime.SHOW_CANCELED %}
                                        badge-danger
                                    {% elif showtime.status == showtime.SALE_OPEN %}
                                        badge-success
                                    {% else %}
                                        badge-secondary
                                    {% endif %}">
                                    {% if showtime.status == showtime.SALE_OPEN %}
                                        {{ showtime.price }}
                                        T
                                    {% else %}
                                        {{ showtime.get_status_display }}
                                    {% endif %}
                                </span>
                                {% if showtime.status == showtime.SALE_OPEN and showtime.free_seats < 10 %}
                                    <span class="badge badge-danger">
                                    {{ showtime.free_seats }}
                                    seats
                                    </span>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-danger">
                    Unavailable
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}