{% extends "ticketing/base_page.html" %}
{% load static %}

{% block title %}
    Ticket
{% endblock %}

{% block toolbar_title %}
    <i class="fas fa-ticket-alt"></i>
{% endblock %}

{% block toolbar_buttons %}
    <a class="btn btn-warning py-1 px-2" href="{% url "ticketing:ticket_list" %}">
        <i class="fas fa-list"></i>
        TicketList
    </a>
{% endblock %}

{% block main_content %}
    <div class="row py-3">
        <div class="col-10 item-details col-md-10 offset-md-1">
            <h5>Ticket</h5>
            <div class="row px-3">
                <div class="col-2">
                    <small class="text-muted">
                        <i class="fas fa-clock"></i>
                        Order Time
                    </small>
                </div>
                <div class="col-5">
                    {{ ticket.order_time|date:"Y/n/j - H:i" }}
                </div>
                <div class="col-2">
                    <small class="text-muted">
                        <i class="fas fa-chair"></i>
                        Seats:
                    </small>
                </div>
                <div class="col-3">
                    {{ ticket.seat_count }}
                </div>
                <div class="w-100 my-1"></div>
                <div class="col-3">
                    <small class="text-muted">
                        <i class="fas fa-user"></i>
                        Customer:
                    </small>
                </div>
                <div class="col-9">
                    {{ ticket.customer }}
                </div>
                <div class="w-100 my-1"></div>
                <div class="col-3">
                    <small class="text-muted">
                        <i class="fas fa-film"></i>
                        MovieName:
                    </small>
                </div>
                <div class="col-9">
                    {{ ticket.showtime.movie.name }}
                </div>
                <div class="w-100 my-1"></div>
                <div class="col-3">
                    <small class="text-muted">
                        <i class="fas fa-building"></i>
                        CinemaName:
                    </small>
                </div>
                <div class="col-9">
                    {{ ticket.showtime.cinema.name }}
                </div>
                <div class="w-100 my-1"></div>
                <div class="col-3">
                    <small class="text-muted">
                        <i class="far fa-clock"></i>
                        StartTime:
                    </small>
                </div>
                <div class="col-9">
                    {{ ticket.showtime.start_time|date:"l Y/n/j - H:i" }}
                </div>
                <div class="w-100 my-1"></div>
                <div class="col-12">
                    <small class="text-muted">
                        <i class="fas fa-exclamation-triangle"></i>
                        Be sure to be at the cinema 30 minutes before the movie starts.
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}